version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: payments-gate
    container_name: payments-gate
    restart: unless-stopped
    tty: true
    environment:
      SERVICE_NAME: app
      SERVICE_TAGS: dev
    depends_on:
      - db
      - redis
    working_dir: /var/www
    volumes:
      - .:/var/www
    ports:
      - "80:8080"
    networks:
      - app-network

  db:
    image: postgres:15
    container_name: pgsql
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network

  redis:
    image: redis:7
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - app-network

volumes:
  pgdata:
    driver: local

networks:
  app-network:
    driver: bridge
